.header {
  height: 80vh;
  text-align: center;
}

.header-heading {
  width: 50%;
  margin: 7.5rem auto;
  font-size: 4.5rem;
}

.header-writer {
  color: #3d56b2;
}

@media (max-width: 992px) {
  .header-heading {
    margin-top: 9rem;
  }
}
