.footer {
  clip-path: polygon(0 60%, 100% 30%, 100% 99%, 0% 100%);
  background: linear-gradient(to left top, #14279b, #3d56b2);
  height: 80vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}

.footer-content {
  margin-top: 12rem;
}

.footer-dev {
  text-decoration: underline !important;
}

.footer-link {
  font-size: 1.7rem;
  margin: 12px 10px;
}
