* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "El Messiri", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 4% 12%;
  background-color: #f6f6f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

.section {
  padding: 1rem;
  margin: 1rem;
}

.section-heading {
  margin-bottom: 0.5rem;
  text-align: center;
}

.section-heading__sub {
  display: block;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
